extends layout.pug

block content
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    h1 Permissions module
    if err
        p error #{err} finding content
    else if serverPerms
        h2 Server Permissions
        pre.prettyprint !{JSON.stringify(serverPerms, null, 4)}
    if defaultPerms
        h2 Default Permissions
        pre.prettyprint !{JSON.stringify(defaultPerms, null, 4)}